{% extends 'news/news_base.html' %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>Aricles List</h1>
    <!-- <p>To satiate your AI wonderment.</p> -->
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  {% for row in rows %}
    <hr>
    <div class="row">
      {% for article in row %}
        <div class="col-md-4">
          <h4><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h4>

          <p> <a href="{{ article.url }}" target="_blank" class="thumbnail-container"><img src="{{ article.thumbnail_url }}" class="image-thumbnail" /></a> {{ article.description | safe}} </p>
          <!-- <p><a class="btn btn-primary" href="{{ article.url }}" target="_blank" role="button">View details &raquo;</a></p> -->
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>


  <hr>

  <footer>
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
</div> <!-- /container -->

{% endblock %}
